
body{
    background-image:url(images/todo.jpg) ;
}
h1{
    text-align: center;
    margin: 100px 0 -60px 0 !important;
    color: teal  !important;
    font-size: 60px !important;
}
.input-group,.list-group{ 
    width: 425px   !important;
    margin: auto;
    margin-top: 100px;   
}

.form-control{
        background-color: yellow !important;
        border: yellow !important;
        height: 60px;
}

.btn-success{
        margin-top: 20px;
}

.btn-info{
    float: right;
    margin-right: 5px;
    width: 70px;
    text-align: center !important;
}
.list-group-item{
    margin-top: 10px;

}
